@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Regular.otf");
}

* {
  --btn-blue: #0065FE;
  --text-blue: #005AE2;
  --text-black: #141414;
  --gray-color: #F9FBFD;
  --subs-color: #1E3448;
  --border-color: #b8b8b8;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Gilroy";
  color: var(--text-black);
  box-sizing: border-box;
}

/* Default Button */
button {
  min-width: 150px;
  padding: 16px 31px;
  border-radius: 100px;
}
.whiteBtn {
  border: none;
  color: var(--btn-blue);
  background: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
.blueBtn {
  border: none;
  color: #fff;
  background: var(--btn-blue);
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
/* Ends Here */

.colorBlue {
  color: var(--text-blue);
  position: relative;
}


/* HEADER */
header {
  /* padding: 12px 10% 0px; */
  min-height: 100vh;
  background-image: url("./assets/images/aurora.png");
  background-repeat: no-repeat;
}

/* navigation */
nav {
  padding: 12px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between; /*justify-content: center*/
  flex-wrap: wrap;
}

.navImage {
  width: 155px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navMenu {
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 10px 40px;
}
.navMenu li {
  list-style-type: none;
  cursor: pointer;
  padding: 2px 5px;
  display: flex;
  gap: 7px 3px;
  align-items: center;
  justify-content: center;
}
.navMenu li img {
  margin-top: 4px;
}
.navMenu li a {
  text-decoration: none;
  color: var(--text-black);
  transition: all 0.3s;
  font-weight: 500;
}
.navMenu li a:hover {
  color: var(--btn-blue);
}
/* navigation ends here */

/* hero section */
.heroSectionWrapper {
  text-align: center;
}
.heroSectionContentWrapper {
  margin-top: 5%;
}

.heroSectionText {
  padding: 0px 50px;
  margin: 0px 10%;
  display: flex;
  flex-wrap: wrap;
}
h1 {
  font-size: 2.5rem;
  line-height: 2;
  font-family: "Gilroy-Bold";
}
h1 .colorBlue img {
  position: absolute;
  bottom: -15px;
  left: 45%;
  transform: translateX(-50%);
}
.heroSectionText p {
  width: 650px;
  box-sizing: border-box;
  margin: 10px auto 30px;
}

.heroSectionBtn {
  margin: 5% 0px;
  width: 100%;
}

.heroSectionImage {
  margin-top: 5%;
}

.firstImage {
  position: relative;
  padding: 0px 7%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: thin solid var(--border-color);
  width: 600px;
  height: 250px;
  border-radius: 24px;
  margin: 0px auto;
  background: linear-gradient(to right, #f0f0f0, #ffffff00);
}

.heroImageSecondImage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  height: 110%;
  width: 260px;
  z-index: -1;
}

.firstImage p {
  box-sizing: border-box;
  width: 450px;
  margin: 0px auto;
  padding: 0px 40px;
}
.secondImage {
  margin-top: 5%;
  width: 100%;
  margin-bottom: 0px;
}
.secondImage img {
  width: 100%;
}
/* hero section ends here */

/* HEADER ENDS HERE */

/* ABOUT SECTION */
.aboutWrapper {
  margin-top: -4px;
}

.aboutHeader {
  margin: 0px;
  padding: 10px 10%;
  background: var(--gray-color);
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.aboutHeader h2 {
  font-size: 1.9rem;
  width:fit-content;
  font-family: "Gilroy-Bold";
}

/* ratings */
.ratings {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-between;
}
.activeUsers {
  width: 150px;
}
.activeUsers h3 {
  margin: 0px 0px;
  font-family: "Gilroy-Bold";
}
.activeUsers p {
  margin: 5px 0px;
}
/* ratings ends here */

/* about content wrapper */
.aboutContentWrapper {
  padding: 20px 10%;
  margin: 7% 0px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.firstAboutContent {
  width: 350px;
}
.firstAboutContent h2 {
  position: relative;
  font-family: "Gilroy-Bold";
  font-size: 1.9rem;
  padding-left: 20px;
  margin: 0px 0px 10px;
}
.firstAboutContent h2::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, #222222, #f8f8f8);
}
.firstAboutContent p {
  margin-top: 10px;
  padding-left: 15px;
  line-height: 1.5;
}

.secondAboutContent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  width: 650px;
}
.service {
  width: 300px;
}

.serviceImage img {
  border: thin solid var(--gray-color);
  border-radius: 50%;
  padding: 10px;
  background: var(--gray-color);
  background: #3284ff23;
}

.serviceText h3 {
  font-family: "Gilroy-Bold";
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.serviceText p {
  margin-top: 10px;
  line-height: 1.5;
}
/* about content wrapper ends here */

/* ABOUT SECTION ENDS HERE */


/* SUBSCRIPTION SECTION */
.subscriptionWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px 10%;
}

.subscritionHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.subscritionHeader h2 {
  width: fit-content;
  position: relative;
  font-family: "Gilroy-Bold";
  font-size: 1.9rem;
  padding-left: 30px;
  margin: 0px auto 10px;
}
.subscritionHeader h2::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, #222222, #f8f8f8);
}
.subscritionHeader p {
  width: 500px;
  margin: 5px auto;
}

.subscriptionPricesWrapper{
  margin: 50px 0px;
}
.subscriptions {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.subscription {
  position: relative;
  font-size: 0.8rem;
  box-shadow: 0px 0px 3px var(--border-color);
  box-sizing: border-box;
  padding: 60px 50px;
  width: 300px;
  min-height: 455px;
  border-radius: 12px;
  transition: all 0.3s;
  background: #fff;
  cursor: pointer;
}
.subscription p {
  font-size: 1rem;
  font-weight: bolder;
}
.subscriptionPrice {
  font-family: "Gilroy-Bold";
  font-size: 2rem;
  margin: 10px 0px 0px;
}
.subscription ul {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.subscription ul li {
  list-style: none;
  margin: 25px 0px;
}
/* .subscription:hover {
  color: #fff;
  transform: scale(1.2);
  background: var(--subs-color);
  z-index: 2;
} */
.activeSubscription {
  color: #fff;
  transform: scale(1.2);
  background: var(--subs-color);
  z-index: 2;
}

.subscriptionBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 120px 0px 50px;
}
.subscriptionBtn button {
  border: thin solid var(--btn-blue);
  min-width: 200px;
}
/* SUBSCRIPTION SECTION ENDS HERE */


/* TRIM URL SECTION */
.trimURLFormWrapper {
  background: var(--subs-color);
  position: relative;
  height: 500px;
  padding: 20px 10%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trimURLFormBgImage {
  position: absolute;
  width: 100%;
  height: 100%;
}
.trimURLFormBgImage img {
  height: 100%;
  /* width: 100%; */
}
.trimURLFormBgImage .firstBgImage {
  position: absolute;
  top: 0px;
  left: 0px;
}
.trimURLFormBgImage .secondBgImage {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* trim url form */
.trimURLForm {
  background: #fff;
  box-sizing: inherit;
  border-radius: 12px;
  width: 470px;
  padding: 20px 40px;
  z-index: 1;
}
.urlInput {
  overflow: hidden;
  margin: 20px 0px;
  border-radius: 12px;
  height: 50px;
  width: 100%;
  border: thin solid var(--text-blue)
}
.urlInput input {
  height: 100%;
  border-radius: inherit;
  outline: none;
  border: none;
  color: var(--text-blue);
  padding-left: 20px;
  font-family: "Gilroy";
}

.domainInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin: 20px 0px;
}
.domainInput select {
  height: 55px;
  width: 53%;
  border-radius: 12px;
  outline: none;
  border: thin solid var(--text-blue);
  color: var(--text-blue);
  padding: 0px 20px;
  font-family: "Gilroy";
}
.domainInput input {
  height: 55px;
  width: 40%;
  border-radius: 12px;
  outline: none;
  border: thin solid var(--text-blue);
  color: var(--text-blue);
  padding-left: 20px;
  font-family: "Gilroy";
}

.formBtn button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gilroy";
}

.trimURLForm p {
  color: var(--text-blue);
  margin-top: 25px;
}
/* trim url form ends here */
/* TRIM URL SECTION ENDS HERE */


/* FAQ SECTION */
.faqWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 0px 10%;
}

.faqBgImage {
  position: absolute;
  width: 100%;
  height: 100%;
}
.faqBgImage img {
  height: 100%;
}
.faqBgImage .firstBgImage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100%;
}
.faqBgImage .secondBgImage {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 400px;
  height: 400px;
}

.faqHeaderText {
  width: 100%;
}
.faqHeaderText h2 {
  width: fit-content;
  position: relative;
  font-family: "Gilroy-Bold";
  font-size: 1.9rem;
  padding-left: 15px;
  margin: 30px auto;
}
.faqHeaderText h2::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, #222222, #f8f8f8);
}

.questionsWrappper {
  width: 650px;
  background: #ffffff3b;
  z-index: 2;
  margin-bottom: 7%;
}
.questionContent {
  border-bottom: thin solid var(--border-color);
  padding: 10px 0px;
  margin: 15px 0px;
}
.question {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.question p {
  line-height: 1.4;
  font-weight: 600;
  margin: 0px;
}
.question img {
  cursor: pointer;
  width: 20px;
}
/* FAQ SECTION ENDS HERE */


/* GET STARTED SECTION */
.getStartedWrapper {
  padding: 0px 10%;
  height: 300px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background: var(--subs-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.getStartedBgImage {
  position: absolute;
  width: 100%;
  height: 100%;
}
.getStartedBgImage img {
  height: 100%;
}
.getStartedBgImage .firstBgImage {
  position: absolute;
  top: 0px;
  left: 0px;
}
.getStartedBgImage .secondBgImage {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.getStartedWrapper h2 {
  width: 100%;
  text-align: center;
  z-index: 2;
  font-size: 2rem;
  font-family: "Gilroy-Bold";
}
.getStartedWrapper button {
  min-width: 200px;
  margin: 0px;
}
/* GET STARTED SECTION ENDS HERE */


/* FOOTER SECTION */
footer {
  position: relative;
  padding: 50px 0px 0px;
  width: 100%;
  overflow: hidden;
}

.footerBgImage {
  position: absolute;
  width: 100%;
  height: 100%;
}

.footerBgImage .firstBgImage {
  position: absolute;
  height: 100%;
  bottom: 0px;
  left: 0px;
}
.footerBgImage .secondBgImage {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.footerContentWrapper {
  padding: 10px 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
}

.footerLogoContent {
  width: 170px;
}
.footerLogo {
  margin-bottom: 20px;
}
.footerSocials {
  display: flex;
  padding-left: 8px;
  justify-content: space-between;
  align-items: center;
}

.footerMainContent {
  width: 800px;
}
.footerContents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  width: 180px;
  margin: 0px;
}

.content ul {
  padding: 0px;
  margin-top: 10px;
}
.content ul li {
  list-style: none;
  margin: 10px 0px;
}

.footerCopywrite {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 10%;
}
.footerCopywrite p:nth-child(2) {
  border-left: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  padding: 0px 10px;
}
/* FOOTER SECTION ENDS HERE */


/* MEDIA QUERRIES */
@media screen and (max-width: 700px) {
  /* navigation */
  nav {
    justify-content: center;
  }

  .navMenu {
    flex-wrap: wrap; 
    justify-content: center;
  }
  .navBtn {
    margin-top: 15px;
  }
  /* navigation ends here */ 

  /* hero section */
  .heroSectionWrapper {
    text-align: center;
  }
  .heroSectionContentWrapper {
    margin-top: 5%;
  }

  .heroSectionText {
    padding: 0px 10px;
    display: flex;
    flex-wrap: wrap
  }
  h1 {
    line-height: 1.4;
  }

  .heroSectionImage {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
  }

  .firstImage {
    width: 100%;
    padding: 20px 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    background: linear-gradient(to right, #f0f0f0, #ffffff00);
  }

  .heroImageFirstImage {
    width: 100%;
  }

  .heroImageSecondImage {
    width: 45%;
  }

  .firstImage p {
    width: auto;
    padding: 0px;
  }
  
  .secondImage {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .secondImage img {
    width: 100%;
  }
  /* hero section ends here */

  /* HEADER ENDS HERE */


  /* ABOUT SECTION */

  /* about content wrapper */
  .secondAboutContent {
    justify-content: center;
  }
  .service {
    width: 300px;
  }
  /* about content wrapper ends here */

  /* ABOUT SECTION ENDS HERE */


  /* TRIM URL SECTION */
  .trimURLFormBgImage img {
    height: 100%;
    width: 100%;
  }
  /* trim url form */
  .trimURLForm {
    padding: 20px;
  }
  .trimURLForm p {
    text-align: center;
  }
  /* trim url form ends here */
  /* TRIM URL SECTION ENDS HERE */

  /* GET STARTED SECTION */
  .getStartedBgImage img {
    width: 100%;
  }
  /* GET STARTED SECTION ENDS HERE */


  /* FOOTER SECTION */
  .content {
    width: 150px;
  }
  /* FOOTER SECTION ENDS HERE */
}