@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@font-face {
  font-family: "Gilroy";
  src: url("./assets/fonts/Gilroy-Light.otf");
}

* {
  --btn-blue: #0065FE;
  --text-blue: #005AE2;
  --text-black: #141414;
  --gray-color: #F9FBFD;
}

/* Default Button */
button {
  min-width: 150px;
  padding: 16px 31px;
  border-radius: 100px;
}
.whiteBtn {
  border: none;
  color: var(--btn-blue);
  background: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
.blueBtn {
  border: none;
  color: #fff;
  background: var(--btn-blue);
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}
/* Ends Here */

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Gilroy";
  color: var(--text-black);
  box-sizing: border-box;
}
.colorBlue {
  color: var(--text-blue);
  position: relative;
}


/* HEADER */
header {
  padding: 12px 10% 0px;
  min-height: 100vh;
  background-image: url("./assets/images/aurora.png");
}

/* navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navImage {
  width: 155px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navMenu {
  padding: 0px;
  display: flex;
  align-items: center;
  gap: 10px 40px;
}
.navMenu li {
  list-style-type: none;
  cursor: pointer;
  padding: 2px 5px;
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
}
.navMenu li img {
  margin-top: 4px;
}
.navMenu li a {
  text-decoration: none;
  color: var(--text-black);
  transition: all 0.3s;
  font-weight: 600;
}
.navMenu li a:hover {
  color: var(--btn-blue);
}
/* navigation ends here */

/* hero section */
.heroSectionWrapper {
  text-align: center;
}
.heroSectionContentWrapper {
  margin-top: 5%;
}

.heroSectionText {
  padding: 0px 50px;
}
h1 {
  font-size: 2.5rem;
  line-height: 2;
  font-family: "Gilroy-Bold";
}
h1 .colorBlue img {
  position: absolute;
  bottom: -15px;
  left: 45%;
  transform: translateX(-50%);
}
.heroSectionText p {
  width: 650px;
  margin: 10px auto 30px;
}

.heroSectionBtn {
  margin: 5% 0px;
}

.heroSectionImage {
  margin-top: 5%;
}

.firstImage {
  position: relative;
  padding: 0px 7%;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: thin solid #b8b8b8;
  width: 600px;
  height: 250px;
  border-radius: 24px;
  margin: 0px auto;
  background: linear-gradient(to right, #f0f0f0, #ffffff00);
}

.heroImageSecondImage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  height: 110%;
  width: 260px;
  z-index: -1;
}

.firstImage p {
  box-sizing: border-box;
  width: 450px;
  margin: 0px auto;
  padding: 0px 40px;
}
.secondImage {
  margin-top: 5%;
  margin-bottom: 0px;
}
.secondImage img {
  width: 100%;
}
/* hero section ends here */

/* HEADER ENDS HERE */

/* ABOUT SECTION */
.aboutWrapper {
  margin-top: -4px;
}

.aboutHeader {
  margin: 0px;
  padding: 10px 10%;
  background: var(--gray-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aboutHeader h2 {
  width: 200px;
  font-family: "Gilroy-Bold";
}

/* ratings */
.ratings {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-between;
}
.activeUsers {
  width: 150px;
}
.activeUsers h3 {
  margin: 0px 0px;
  font-family: "Gilroy-Bold";
}
.activeUsers p {
  margin: 5px 0px;
}
/* ratings ends here */

/* about content wrapper */
.aboutContentWrapper {
  padding: 20px 10%;
  margin: 7% 0px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.firstAboutContent {
  width: 350px;
}
.firstAboutContent h2 {
  position: relative;
  font-family: "Gilroy-Bold";
  font-size: 1.9rem;
  padding-left: 10px;
  margin: 0px 0px 10px;
}
.firstAboutContent h2::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, #222222, #f8f8f8);
}
.firstAboutContent p {
  margin-top: 10px;
  padding-left: 15px;
  line-height: 1.5;
}

.secondAboutContent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  width: 650px;
}
.service {
  width: 300px;
}

.serviceImage img {
  border: thin solid var(--gray-color);
  border-radius: 50%;
  padding: 10px;
  background: var(--gray-color);
  background: #3284ff23;
}

.serviceText h3 {
  font-family: "Gilroy-Bold";
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.serviceText p {
  margin-top: 10px;
  line-height: 1.5;
}
/* about content wrapper ends here */

/* ABOUT SECTION ENDS HERE */

/* SUBSCRIPTION SECTION */
.subscriptionWrapper {
  border: thin solid red;
}
.firstAboutContent h2 {
  position: relative;
  font-family: "Gilroy-Bold";
  font-size: 1.9rem;
  padding-left: 10px;
  margin: 0px 0px 10px;
}
.firstAboutContent h2::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, #222222, #f8f8f8);
}
/* SUBSCRIPTION SECTION ENDS HERE */